# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\STUDIA_INFORMATYCZNE\ROK_II\SEM_IV\03_GK\06-Grafika_3D_cd\reader_obj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
